.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #041b4b;
  border-block-end-color: rgb(17, 19, 18);
  border-block-end-width: 10px;
  border-block-end-style: dotted;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(30px + 2vmin);
  font-style: italic;
  color: rgb(153, 114, 189);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.App-link {
  color: #61dafb;
}

.button {
  background-color: rgb(142, 194, 236); /* Green */
  border: rgb(27, 25, 25);
  border-block-end-style: solid;
  border-block-end-width: 8px;
  color: rgb(32, 30, 26);
  padding: 8px 30px;
  width: 200px;
  align-self: left;
  text-align: center;
  text-decoration: burlywood;
  display: inline-block;
  font-size: 20px;
}

.input {
  width: 200px;
  text-align: center;
  font-size: 20px;
}
.alert {
  border: rgb(27, 25, 25);
  border-block-end-style: dotted;
  border-block-end-width: 8px;
  width: 1500px;
  align-self: center;
  text-align: center;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
